*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}

body{
    color: #c0c0c0;
    background-color: #0d1a2c;
}

body, div, ul, nav, li, header,footer, a, label {
    margin: 0;
    padding: 0;
}

/* -------- HEADER SECTION -------- */

.header{
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 30px #0009;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #777777;
}

.header__open-nav-button {
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
}

.header__open-nav-button:hover{
    opacity: 0.65;
}

.header__checkbox{
    display: none;
}

.header__nav{
    display: none;
    background-color: #ddd;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__logo{
    max-width: 100%;
    width: 64px;
    margin: 0px 20px;
}

.header__logo:hover{
    opacity: 0.60;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: inherit;
    text-decoration: none;
}

.header__nav-item :is(:hover,:active){
    text-decoration: underline;
    opacity: 0.60;
}

/* ---------- HEADER QUERIS -------------- */

@media screen and (min-width: 600px) {

    .header{
        padding: 10px 0;
        animation: header-movement both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        animation-range: 10px 100px;
    }
    .header__nav{
        display: block;
        position: static;
        height: auto;
        z-index: 1;
        width: auto;
        justify-content: space-between;
        background-color: initial;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 30px;
    }

    .header__open-nav-button {
        display: none;
    }
}


/* ------------------ HEADER ENDS ---------------------*/


/* ------------------ MAIN SECTION ---------------------*/

.main-section{
    color: #c0c0c0;
    background-image: linear-gradient(to bottom, #000000 0%, #07283e 50%, #2b6279 100%);
    min-height: 100vh;
}

.hero{
    /* Usamos la imagen como fondo*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(img/afterlife-2560x1600-10.jpg);
    /* Aseguramos que cubra todo el contenedor*/
    background-size: cover;
    /* Centramos la imagen (clave para que el buzo se vea en movil) */
    background-position: center;
    /* Altura: 90% da la altura de la pantalla del dispositivo */
    height: 95vh;
    /* Flexbox para centrar el contenido de textto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Damos padding por si el texto se pega a los bordes */
    padding: 1rem;
    text-align: center;
    /* El color del texto debe ser claro*/
    color: #fff;
    box-shadow: 3px 3px 40px #000;
    animation: aparecer 2s both;
}

/* Estilos para el contenido del hero */
.hero h1{
    font-size: 3rem; /* Tamaño grande para impacto*/ 
    margin-bottom: 0px; 
    font-weight: 700; /* Asegurate de que sea la version bold */
}

.hero p {
    font-size: 1.1rem;
    margin: 0.5rem 0 1.5rem 0; /* Espaciado*/
}

/* Boton "Call to action" (CTA) */
.hero-cta {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    transition: all 0.3 ease;
    border-radius: 5px;
}

.hero-cta:hover{
    background-color: #fff8;
    color: #000;
}

/* ABOUT SECTION */

.about {
    /* Un gris claro para el texto*/
    color: #c0c0c0;
    padding: 4rem 1.5rem;
    text-align: center;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 10% contain 60%;
}

.about p {
    font-size: 1rem;
    line-height: 1.6; /* Interlineado para legibilidad*/
    max-width: 600px; 
    margin: 0 auto;
}

/* PORTFOLIO */

.portfolio {
    padding: 2rem 1.5rem 3rem 1.5rem;
    container-name: portfolio;
    container-type: inline-size;
}

.portfolio h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 3rem;
    text-align: center;
}

.portfolio-gallery {
    /* En movil, usamos grid con una sola columna.
    Esto nos permite añadir un gap facilmente entre cada tarjeta */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 1.2rem;
    max-width: 1200px;
    margin: auto;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 70%;
}

.event-card {
    /* Posicion relativa para superponer el texto */
    position: relative;
    height: 400px; /* Altura fija para cada tarjeta en movil */
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    /* Ocukta lo que se salga de las esquinas redondeadas*/
    overflow: hidden;

    /* Efecto de zoom sutil al pasar el mouse (para desktop) */
    transition: transform 0.4s ease;
}

.event-card:hover {
    transform: scale(1.03);
    opacity: 0.90;
    outline: 1px solid #ddd6;
}

.event-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Gradiente: mas oscuro abajo (donde va el texto) y transparente arriba */
    background: linear-gradient(to top, rgba(0,0,0,0.85), transparent 60%);
}

.event-card-content {
    /* Posiciona el texto abajo a la izquierda */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    color: #cccb;
}

.event-card h3 {
    font-size: 1.5rem;
    margin: 0 0 0.25rem 0;
    font-weight: 700;
}

.event-card p {
    font-size: 0.9rem;
    margin: 0;
    color: #bbb9;
}




/* Imagenes de los eventos*/
#event-1{
    background-image: url(img/afteribiza.jpg);
}

#event-2 {
    background-image: url(img/aftertulum.webp);
}

#event-3 {
    background-image: url(img/aftersaopaulo.webp);
}

#event-4 {
    background-image: url(img/afterbarcelona.jpg);
}

#event-5 {
    background-image: url(img/afterlosangeles.webp);
}

#event-6 {
    background-image: url(img/aftertomorrowland.webp);
}


/* ------------------ MAIN QUERIES ---------------------*/

/* Para tablets (ej. 768px para arriba) */
@container portfolio (min-width: 768px) {
    .portfolio-gallery {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .event-card:nth-child(3){
        grid-column: span 2;
    }

    .event-card:nth-child(6){
        grid-column: span 2;
    }
}  


/* Para desktops (ej. 1024px para arriba) */
@container portfolio (min-width: 1024px) {
    .portfolio-gallery {
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }
    .event-card:first-child{
        grid-column: span 2;
    }

    .event-card:nth-child(3){
        grid-column: span 1;
    }

    .event-card:nth-child(6){
        grid-column: span 3;
    }
}

/* CONTACT SECTION */

.contact-content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 0 30px 0;
    container-name: form;
    container-type: inline-size;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 20% contain 40%;
}

.contact-content p{
    text-align: center;
}

.contact-form {
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
    margin-bottom: 20px;
}

.contact-form :is(input,textarea) {
    width: 100%;
    padding: 9px 6px;
    margin: 4px;
    box-sizing: border-box;
    background-color: #ddd; /* Fondo muy sutil */
    border: none;
    box-shadow: 2px 2px 9px #07283e;
    border-radius: 3px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.cta-button {
    width: 100%;
    background-color: #0d1a2c;
    color: #fff;
    padding: 9px 6px;
    border: none;
    border-radius: 3px;
}

/* --- CONTACT QUERYS --- */

@container form (min-width: 50rem) {
    .contact-form {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "name lastname"
        "email email"
        "message message"
        "button button";
        gap: 12px;
        background-image: radial-gradient(#23627d ,#517e92 );
        border-radius: 7px;
        box-shadow: 2px 2px 40px #5b9db9;
        margin-top: 15px;
    }

    .form-group:first-child{
        grid-area: name;
    }
    .form-group:nth-child(2){
        grid-area: lastname;
    }
    .form-group:nth-child(3){
        grid-area: email;
    }
    .form-group:nth-child(4){
        grid-area: message;
    }
    .cta-button{
        grid-area: button;
    }
    
    .contact-form :is(input,textarea) {
        box-shadow: none;
    }
}

/* ------------------ MAIN ENDS ---------------------*/

/* ------------------ FOOTER SECTION ---------------------*/

.site-footer{
    padding: 3rem 1.5rem;
    text-align: center;
    background-image: linear-gradient(to bottom, #000000, #07283e);
    box-shadow: 3px 3px 40px #000;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer-social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social-links a:hover {
    color: #aaa;
    transform: scale(1.1);
}

.footer-credit p {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color: #aaa;
}
/* ------------------ FOOTER ENDS ---------------------*/


/*------------- ANIMACIONES ---------------*/

@keyframes header-movement {
    from{
        padding: 10px;
        background-color: #ddd;
    }
    to{
        padding: 0;
        background-color: #07283e66;
        color: #999;
    }
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}